.articleContainers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.articleTitle{
    font-size: 70px;
}

.articleBtn{
    height: 50px;
    padding: 0;
    background: #6a79cd;
    border:none;
    outline:none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    font-family: quicksand;
    color:#fff;
    margin-bottom: 1px;
    cursor:pointer;
}

.articleBtn:hover {
    background: #6a79cd;
}

.articleBtn:active {
    background: #8fc1ef;
}